.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('![Nabin1](https://github.com/Nabinshrestha29/DJILMS/assets/135502074/eb84cc34-4c6c-4a3b-aabb-6a7ea514682b);
    background-size: cover;
    background-position: center;
    z-index: -1;
	 background-color: rgba(0, 0, 0, 0.5);
}




.content-container {
    padding: 20px;
    overflow-y: scroll;
    height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1);
    position: relative;
}

.content-container::-webkit-scrollbar {
    width: 10px;
}

.content-container::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}

.content-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
}

.intro-text {
    color: white;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}

.section {
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 20px;
}

.contact-info {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
}

.contact-info p {
    margin: 5px 0;
}

.intro{
    color: white;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.bio{
	color: white;
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-size: 20px
}
